html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/**
 * Footer Styles
 */

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
	background-color:#8ed3ff;
}

.redes{
	width: 8%;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.reds{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
}