@media (max-width:320px){
	.dieta{
		width: 99%;
		height: 13.5rem;
	}

	.menu{
		width: 20%;
	}

	.queIncluye{
		display: flex;
		flex-wrap: wrap;
	}

	.containerOne{
		width: 50%;
		background-color: aqua;
		/* border: 2px solid black; */
	}

.comida{
	width: 90%;
	border-radius: .5rem;
}

.tienda{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tiendaOne{
	width: 45%;
	border: 1px solid black;
}

.testimonios{
	margin-left: 10%;
}

.testimonio{
	border: 1px solid black;
	width: 90%;
	display: flex;
	flex-direction: column;
	border-left: 10%;
	margin-bottom: 10%;
}

.dietaKeto{
	background-color:#DF1F4D;
}

.buttonKeto{
	color: white;
	background-color: green;
	border-radius:1rem ;
	height: 2rem;
	width: 40%;
}

.articulo{
	border: 2px solid black;
	width: 95%;
	display: flex;
	flex-direction: column;
	margin-left: 2.5%;
	margin-top: 1rem;
	border-radius: .2rem;
}

.buttonArticulos{
	background-color: blue;
	color: white;
	width: 40%;
	height: 15%;
	margin-top: .5rem;
}
}

@media (min-width:321px) and (max-width:376px){
	.dieta{
		width: 99%;
		height: 13.5rem;
	}

	.menu{
		width: 20%;
	}

	.queIncluye{
		display: flex;
		flex-wrap: wrap;
	}

	.containerOne{
		width: 50%;
		background-color: aqua;
		/* border: 2px solid black; */
	}

.comida{
	width: 90%;
	border-radius: .5rem;
}

.tienda{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tiendaOne{
	width: 45%;
	border: 1px solid black;
}

.testimonios{
	margin-left: 10%;
}

.testimonio{
	border: 1px solid black;
	width: 90%;
	display: flex;
	flex-direction: column;
	border-left: 10%;
	margin-bottom: 10%;
}

.dietaKeto{
	background-color:#DF1F4D;
}

.buttonKeto{
	color: white;
	background-color: green;
	border-radius:1rem ;
	height: 2rem;
	width: 40%;
}

.articulo{
	border: 2px solid black;
	width: 95%;
	display: flex;
	flex-direction: column;
	margin-left: 2.5%;
	margin-top: 1rem;
	border-radius: .2rem;
}

.buttonArticulos{
	background-color: blue;
	color: white;
	width: 40%;
	height: 15%;
	margin-top: .5rem;
}
}